.disk-folder-list-toolbar.bx24-disk-folder-list-toolbar-tags {
    border-top: 0px;
    border-bottom: 0px;
}
.bx24-disk-folder-list-toolbar-tags .disk-breadcrumbs-item-arrow {
    background: none;
}